<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">
<h1 th:text="'Edit Cheese' + ' - ' + ${cheese.name} + ' - ' + ${cheese.id}"></h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${cheese}">
    <div class="form-group">
        <label for="name-field">Name</label>
        <input class="form-control" id="name-field" type="text" name="name" th:value="*{name}" />
        <span th:errors="*{name}" class="error"></span>

    </div>
    <div class="form-group">
        <label for="desc-field">Description</label>
        <input class="form-control" id="desc-field" type="text" name="description" th:value="*{description}" />
        <span th:errors="*{description}" class="error"></span>

    </div>

    <div class="form-group">
        <label th:for="category">Category</label>
        <select name="category">
            <option th:each="category : ${categories}"
                    th:text="${category.name}"
                    th:value="${category.id}"></option>
        </select>
    </div>
    <input type="hidden" th:value="*{id}" name="cheeseId" />
    <input type="submit" value="Edit Cheese" />
</form>

</body>
</html>